<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/01_other_buttons" target="_blank">Target</a>
</p>

<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->
<style>

</style>

<p>
  <span class="button">
  Primary</span>
</p>

<p>
  <span class = "button button-gray">Secondary</span>
</p>

<p>
  <span class = "button button-green">Success</span>
</p>

<p>
  <span class ="button button-red">Danger</span>
</p>

<p>
  <span class ="button button-orange">Warning</span>
</p>

<p>
  <span class = "button button-cyan">Info</span>
</p>


<p>Less intrusive variants:</p>

<p>
  <span class= "button-outline button-outline-blue">Primary (unobtrusive)</span>
</p>

<p>
  <span class ="button-outline button-outline-gray">Secondary (unobtrusive)</span>
</p>

<p>
  <span class ="button-outline button-outline-green">Success (unobtrusive)</span>
</p>

<p>
  <a>Danger (unobtrusive)</a>
</p>

<p>
  <a>Warning (unobtrusive)</a>
</p>

<p>
  <a>Info (unobtrusive)</a>
</p>
