<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Levels</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Add your stylesheets here -->
    <link rel="stylesheet" href="/css/my_styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css">

    <style>
      .button {
      background-color: blue; 
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75) inset;
      border-radius: 4px
      }

      .button:hover { 
        background-color: darkblue
        }

      .button:active {
        background-color: blue
        }

      .button-outline {
      background-color: white; 
      border: 2px solid;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      border-radius: 5px;
      transition: all 0.3s ease;
      }

      .button-gray {
      background-color: gray;
      }
      .button-gray:hover {
      background-color: black
      }
      .button-gray:active {
      background-color: gray
      }

      .button-green {
      background-color: green;
      }
      .button-green:hover {
      background-color: darkgreen
      }
      .button-green:active {
      background-color: green
      }

      .button-red {
      background-color: red;
      }
      .button-red:hover {
      background-color: darkred
      }
      .button-red:active {
      background-color: red
      }

      .button-orange {
      background-color: orange;
      }
      .button-orange:hover {
      background-color: darkorange
      }
      .button-orange:active {
      background-color: orange
      }

      .button-cyan {
      background-color: darkcyan;
      }
      .button-cyan:hover {
      background-color: cyan
      }
      .button-cyan:active {
      background-color: darkcyan
      }

      .button-outline-blue { 
        background-color: white;
        color: blue;
        }
      .button-outline-blue:hover { 
        background-color: blue;
        color: white;
        }

      .button-outline-gray { 
        background-color: white;
        color: gray;
        }
      .button-outline-gray:hover { 
        background-color: gray;
        color: white;
        }

      .button-outline-green { 
        background-color: white;
        color: green;
        }        
      .button-outline-green:hover { 
        background-color: green;
        color: white;
        }
  </style>
  </head>

  <body>
    <div class="container py-5">
      <a href="/">Return to the homepage</a>

      <hr>
      
      <%= yield %>
    </div>
  </body>
</html>
