<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Levels</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Add your stylesheets here -->
    <link rel="stylesheet" href="/css/my_styles.css">
    <style>
      .button {
      background-color: blue; 
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75) inset;
      border-radius: 4px
      }

      .button:hover { 
        background-color: darkblue
        }

      .button:active {
        background-color: blue
        }
  </style>
  </head>

  <body>
    <div class="container py-5">
      <a href="/">Return to the homepage</a>

      <hr>
      
      <%= yield %>
    </div>
  </body>
</html>
